
  

.nav {
    border-top: 3px solid rgb(144, 203, 238);
    overflow: hidden;
    position:relative;
    border-bottom:2px solid rgb(222, 213, 213);
   
    height: 35px;
    text-align: center;
    background-color: rgb(239, 246, 252);
    
   
   
   
   
    
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float:inline-start;
    color: #0f0b0b;
    text-align:center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
  
  /* Change the color of links on hover */
  .nav a:hover {
    color: rgb(84, 193, 229);
  }
  
  /* Add a color to the active/current link */
  .nav a:active {
    color: #d47070;
  
  }

  .column1 {
    float: left;
    
    width: 39%;
    height: auto;
    margin-top: 20px;
   
    
    
    
  }
  
  .name{
    text-align: center;
  }
  
  
  .column2{
    float: left;
    width: 55%;
    border-left:2px solid rgb(222, 219, 219);
    margin-top: 20px;
   
}
  

  img {
    border: 1px solid #ddd;
    border-radius: 100%;
    padding: 5px;
    width: 250px;
    height: 250px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
  }

 .text{
  font-size: 10mm;
  text-transform: capitalize;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
 }
 .intro{
 
  font-size: 4.5mm;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #4f5553;



 }

 
 .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
  left: 5px;
  top: 5px;
  width: 2px;
  height: 4px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.left{
  text-align: left;
}
.right{
  text-align: right;
  font-size: 10mm;
  color:#898e8c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer {
  position: fixed;
  left:0;
  bottom:0;
  width:100%;
  background-color: #f4ecec;
  color: #140505;
 
  text-align:center;
  }
  .list{
    list-style:circle;
    font-size:5mm;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#6a5c5c;
  }

.skills{
  font-size: 14mm;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #898e8c;
}
@media screen and (max-width: 600px) {
  .nav a{
  width: 100%;
  font-size:small;
  }
  
  .column1 {
      width: 100%;
    }
    .column2 {
      width: 100%;
    }
  }
  
  
  